@page "/currencies"

@using Microsoft.FluentUI.AspNetCore.Components
@using Size20 = Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20

<h3>@(new Size20.CurrencyDollarEuro().ToMarkup()) Currencies</h3>

<span>Here you can configure the exchange rate for different currencies.</span>

@if (this._currencies is not null)
{
  <div class="grid">
    <FluentDataGrid 
    Items="@_currencies" 
    HeaderCellAsButtonWithMenu="false" 
    RowSize="DataGridRowSize.Medium">
      <ChildContent>
        <PropertyColumn Property="@(c => c.CurrencyName)" title="Currency" />
        <PropertyColumn Property="@(c => c.ValueInEuro)" Title="Value in Euro" />
        <TemplateColumn Title="Actions" Context="currency" Align="@Align.End">
          <FluentButton OnClick="async () => await EditCurrency(currency)"
          Title="Edit currency"
          Disabled="@(currency.CurrencyName == CurrencyName.EUR.ToString())"
          IconEnd="@(new Size20.Edit())" />
        </TemplateColumn>
      </ChildContent>
    </FluentDataGrid>
  </div>
} else
{
  <FluentStack
    Orientation="Orientation.Horizontal" 
    VerticalAlignment="VerticalAlignment.Center" 
    HorizontalAlignment="HorizontalAlignment.Center" HorizontalGap="10">
    <FluentProgressRing></FluentProgressRing> Loading
  </FluentStack>
}


<script>

  window.registerForSse = (caller) =>
  {
    console.log('registering');
    const source = new EventSource('https://localhost:7248/integration-events');
    source.addEventListener('integrationEvent', function (event) {

      let data = JSON.parse(event.data);
  console.log(data);
  console.log(data.data);
  console.log(data.eventType);
      caller.invokeMethodAsync('ProcessEvent', data.data, data.eventType);
    //   const data = JSON.parse(event.data);
    // console.log('Received Integration Event:', data);
    // You can add code here to update the UI or perform other actions based on the event data
    });
    return source;
  }

  window.unregisterForSse = (source) =>
  {
    console.log('unregistering');
    source.close();
  }

  // source.removeEventListener('integrationEvent', function (event) {
  //   This is just an example of how to remove the event listener if needed
  // });

</script>
