@using Size20 = Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20

<div class="navmenu">
  <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
  <label for="navmenu-toggle" class="navmenu-icon">
    <FluentIcon Value="@(new Size20.Navigation())" Color="Color.Fill" />
  </label>
  <nav class="sitenav" aria-labelledby="main-menu">
    <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
      <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Size20.Home())" IconColor="Color.Accent">
        Home
      </FluentNavLink>
      <FluentNavLink Href="currencies" Icon="@(new Size20.CurrencyDollarEuro())" IconColor="Color.Accent">
        Currencies
      </FluentNavLink>
      <FluentNavLink Href="publishers" Icon="@(new Size20.BookTemplate())" IconColor="Color.Accent">
        Publishers
      </FluentNavLink>
      <FluentNavLink Href="games" Icon="@(new Size20.Games())" IconColor="Color.Accent">
        Games
      </FluentNavLink>
      <FluentNavLink Href="basket" Icon="@(new Size20.ShoppingBag())" IconColor="Color.Accent">
        Basket
      </FluentNavLink>
      <FluentNavLink Href="handling-events" Icon="@(new Size20.VehicleShip())" IconColor="Color.Accent">
        Events
      </FluentNavLink>
    </FluentNavMenu>
  </nav>
</div>

@code {
  private bool expanded = true;
}
