@page "/publishers"

@using Size20 = Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20

<h3>@(new Size20.BookTemplate().ToMarkup()) Publishers</h3>

<div class="grid">
  <FluentDataGrid Items="@_publishers" RowSize="DataGridRowSize.Medium" ShowHover="true"
                    @bind-SelectedItem="@SelectedPublisher"
   >
    <SelectColumn SelectMode="DataGridSelectMode.Single"
                  SelectFromEntireRow="true"
                  @bind-SelectedItems="@SelectedItems"
                  />
    <PropertyColumn Property="@(pub => pub.PublisherName)" title="Name" Sortable="true" />
    @* <TemplateColumn Title="Actions" Context="currency" Align="@Align.End"> *@
      @* <FluentButton OnClick="async () => await AddBoardGame(currency)"
                    Title="Edit currency"
                    IconEnd="@(new Size20.BookAdd())" /> *@
    @* </TemplateColumn> *@
  </FluentDataGrid>
</div>

@if(SelectedPublisher is not null)
{
    <div>@SelectedPublisher.PublisherName</div>
}

<h2>Publisher's Games</h2>

<div class="games">
  <FluentDataGrid Items="@Games" TGridItem="GameDto" RowSize="DataGridRowSize.Medium">
    <PropertyColumn Property="@(bg => bg.GameName)" title="Name" Sortable="true" />
    <PropertyColumn Property="@(bg => bg.PublisherName)" Title="Publisher" Sortable="true" />
    <PropertyColumn Property="@(bg => bg.Price.ToString())" Title="Price" Sortable="true" />
  </FluentDataGrid>
</div>

<h2>Publisher's Contacts</h2>

<div class="games">
  <FluentDataGrid Items="@Contacts" TGridItem="ContactDto" RowSize="DataGridRowSize.Medium">
    <PropertyColumn Property="@(c => c.FirstName)" title="First Name" Sortable="true" />
    <PropertyColumn Property="@(c => c.LastName)" Title="Last Name" Sortable="true" />
    <PropertyColumn Property="@(c => c.Email)" Title="Street" Sortable="true" />
  </FluentDataGrid>
</div>
